/*
  Top part based off: http://bartaz.github.com/impress.js/css/impress-demo.css
  The top half is the non-interesting stuff, resets, basic styles to get things working
  Look for "This is where the interesting stuff begins"
*/


/* 
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/ 
    
    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.
    
    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: "Open Sans", sans-serif;
  min-height: 740px;
  color: #333;
  background: #d7d7d7;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0f0f0), to(#bebebe));
  background: -webkit-radial-gradient(#f0f0f0, #bebebe);
  background: -moz-radial-gradient(#f0f0f0, #bebebe);
  background: -ms-radial-gradient(#f0f0f0, #bebebe);
  background: -o-radial-gradient(#f0f0f0, #bebebe);
  background: radial-gradient(#f0f0f0, #bebebe);
}

/*
    Now let's bring some text styles back ...
*/
b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

/*
    ... and give links a nice look.
*/
a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:focus {
  background: white;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.
    
    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?
    
    And then we hide the message, when support is detected in the browser.
*/
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/*
    Now let's style the presentation steps.
    
    We start with basics to make sure it displays correctly in everywhere ...
*/
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 48px;
  line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.
    
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.2;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1;
}

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css
    
    ;)
    
    They cover everything what you see on first three steps of the demo.
*/
.slide {
  display: block;
  width: 1000px;
  height: 700px;
  padding: 40px 60px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------------------ */
/* End of base stuff that was 99% copied from impress.js */
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ 
 * Custom general styling that is used in many slides
 */
.misc {
  font-size: 100px;
}

.step {
  width: 1000px;
  height: 700px;
}

.attr {
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.3;
}

.attr:hover {
  opacity: 1;
}

pre code {
  font-family: "Enriqueta";
  font-weight: bold;
  font-size: 42px;
}

/* ------------------------------------------------------------------ */
/*
  This is where the interesting stuff begins 

  HUGE NOTE: In these styles, I have been very naughy and only used the
   '-webkit' prefix. If you are making something for real, you need to
   include the other prefixes for it to work on other browsers.

   Also, used scss while writing the styles, so this file is actually generated css.
   Hopefully it should still make sense and is relatively easy to read.

   A super quick explanation of how impress.js works (that affects the below styles):
     * Each 'slide' is given an id (eg #start)   
     * When the slide is active, it has the classes: present, active
     * Once the slide has been shown and you move on, it gets the class: past
     * Impress relies on you to position and style your slides (ie. A LOT of css)

   A good CSS animation tutorial with some better explanation: http://css3.bradshawenterprises.com/
*/
/* ------------------------------------------------------------------ */
#start {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  color: #333;
  text-align: center;
  padding: 190px 0;
}
#start .title {
  font-size: 120px;
  padding: 50px 0;
}
#start .author {
  font-size: 42px;
  text-align: right;
  padding-right: 50px;
}

/* ------------------------------------------------------------------ */
#why img {
  position: absolute;
}
#why .person {
  bottom: 120px;
  left: 0px;
}
#why .small-person {
  height: 120px;
}
#why .small-person.one {
  bottom: 290px;
  right: 200px;
}
#why .small-person.two {
  bottom: 260px;
  right: 240px;
}
#why .small-person.three {
  bottom: 270px;
  right: 280px;
}
#why .ques {
  top: -20px;
  right: 300px;
}

/* ------------------------------------------------------------------ */
#transform-1.present img, #transform-1.past img,
#transform-2.present img,
#transform-2.past img {
  -webkit-transition-duration: 1s;
}
#transform-1.present .translate, #transform-1.past .translate,
#transform-2.present .translate,
#transform-2.past .translate {
  -webkit-transform: translate(300px, 100px);
  -webkit-transition-delay: 2s;
}
#transform-1.present .rotate, #transform-1.past .rotate,
#transform-2.present .rotate,
#transform-2.past .rotate {
  -webkit-transform: rotate(-35deg);
  -webkit-transition-delay: 5s;
}
#transform-1.present .scale, #transform-1.past .scale,
#transform-2.present .scale,
#transform-2.past .scale {
  -webkit-transform: scale(2, 0.8);
  -webkit-transition-delay: 2s;
}
#transform-1.present .skew, #transform-1.past .skew,
#transform-2.present .skew,
#transform-2.past .skew {
  -webkit-transform: skew(30deg, 10deg);
  -webkit-transition-delay: 5s;
}
#transform-1 .top-right,
#transform-2 .top-right {
  position: absolute;
  top: -30px;
  right: 20px;
}
#transform-1 .bottom-left,
#transform-2 .bottom-left {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
#transform-1 .translate,
#transform-2 .translate {
  margin-left: 150px;
}
#transform-1 .scale,
#transform-2 .scale {
  float: right;
  margin-right: 150px;
}
#transform-1 .attr,
#transform-2 .attr {
  bottom: -20px;
}

/* ------------------------------------------------------------------ */
#transition-0 {
  margin-top: -150px;
  text-align: right;
}
#transition-0 pre {
  text-align: center;
}
#transition-0 div {
  padding: 20px;
  width: 300px;
  height: 150px;
  border: 3px solid #333;
  border-radius: 10px;
  text-align: center;
  background-color: #afafcc;
  position: absolute;
  line-height: 150px;
}
#transition-0 .one {
  top: 130px;
  left: 30px;
}
#transition-0 .two {
  top: 130px;
  right: 30px;
}
#transition-0 .three {
  bottom: 30px;
  left: 30;
  line-height: 75px;
}
#transition-0 .four {
  bottom: 30px;
  right: 30px;
}
#transition-0.present div, #transition-0.past div {
  -webkit-transition-delay: 5s;
  -webkit-transition-duration: 2s;
}
#transition-0.present .one, #transition-0.past .one {
  -webkit-transition-property: border-width;
  border-width: 10px;
}
#transition-0.present .two, #transition-0.past .two {
  -webkit-transition-property: color;
  color: #af1234;
}
#transition-0.present .three, #transition-0.past .three {
  -webkit-transition-property: background-color;
  background-color: #fcacac;
}
#transition-0.present .four, #transition-0.past .four {
  -webkit-transition-property: font-size;
  font-size: 75px;
}

/* ------------------------------------------------------------------ */
#transition-1 {
  margin-top: -150px;
  text-align: right;
}
#transition-1 pre {
  text-align: center;
}
#transition-1 .attr {
  bottom: -50px;
}
#transition-1 ul {
  float: left;
  font-weight: bold;
  line-height: 4.5;
  margin-top: -10px;
}
#transition-1.present img, #transition-1.past img {
  -webkit-transition-duration: 1s;
  -webkit-transform: translate(-650px);
}
#transition-1.present .one, #transition-1.past .one {
  -webkit-transition-delay: 1s;
}
#transition-1.present .two, #transition-1.past .two {
  -webkit-transition-delay: 3s;
}
#transition-1.present .three, #transition-1.past .three {
  -webkit-transition-delay: 5s;
}

/* ------------------------------------------------------------------ */
#transition-2 {
  margin-top: -150px;
  text-align: left;
}
#transition-2 pre {
  text-align: center;
}
#transition-2 .attr {
  bottom: -50px;
}
#transition-2 ul {
  float: right;
  font-weight: bold;
  line-height: 4.5;
  margin-top: -10px;
}
#transition-2.present img, #transition-2.past img {
  -webkit-transition-delay: 2s;
  -webkit-transform: translate(650px);
}
#transition-2.present .one, #transition-2.past .one {
  -webkit-transition-duration: 1s;
}
#transition-2.present .two, #transition-2.past .two {
  -webkit-transition-duration: 3s;
}
#transition-2.present .three, #transition-2.past .three {
  -webkit-transition-duration: 5s;
}

/* ------------------------------------------------------------------ */
#transition-3 {
  margin-top: -150px;
  text-align: right;
}
#transition-3 pre {
  text-align: center;
}
#transition-3 .attr {
  bottom: -50px;
}
#transition-3 ul {
  float: left;
  font-weight: bold;
  line-height: 4.5;
  margin-top: -10px;
  margin-left: -120px;
  text-align: left;
}
#transition-3.present img, #transition-3.past img {
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 3s;
  -webkit-transform: translate(-650px);
}
#transition-3.present .one, #transition-3.past .one {
  -webkit-transition-timing-function: ease-in;
}
#transition-3.present .two, #transition-3.past .two {
  -webkit-transition-timing-function: linear;
}
#transition-3.present .three, #transition-3.past .three {
  -webkit-transition-timing-function: steps(3, end);
}

/* ------------------------------------------------------------------ */
#transition-all {
  margin-top: -150px;
}
#transition-all pre {
  text-align: left;
  line-height: 0.8;
  margin-left: -300px;
}
#transition-all img {
  position: absolute;
  top: 70px;
  left: -30px;
  opacity: 0.5;
  -webkit-transition: all 3s ease-in-out;
  -webkit-transition-delay: 5s;
}
#transition-all.present img, #transition-all.past img {
  border: 10px solid #3842f8;
  border-radius: 90px;
  opacity: 1;
  -webkit-transform: translate(810px, 350px) rotate(360deg) scale(2);
}

/* ------------------------------------------------------------------ */
#more-3d {
  font-family: "Abril Fatface";
  font-size: 700px;
  line-height: 500px;
}
#more-3d div {
  position: absolute;
}
#more-3d.present .all {
  -webkit-animation: swivel 2s infinite alternate ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-delay: 2s;
}
#more-3d .three {
  top: 0;
  left: 0;
  -webkit-transform: translateZ(-35px);
}
#more-3d .dee {
  top: 0;
  left: 380px;
  -webkit-transform: translateZ(25px);
}

@-webkit-keyframes swivel {
  0% {
    -webkit-transform: rotateY(-15deg);
  }

  100% {
    -webkit-transform: rotateY(15deg);
  }
}

/* ------------------------------------------------------------------ */
#cube-3d .side {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  -webkit-transition-duration: 2s;
  opacity: 0;
}
#cube-3d .one {
  background-color: #f80;
}
#cube-3d .two {
  background-color: #800;
}
#cube-3d .three {
  background-color: #822;
}
#cube-3d .four {
  background-color: #855;
}
#cube-3d .five {
  background-color: #866;
}
#cube-3d .six {
  background-color: #383;
}
#cube-3d.present .one, #cube-3d.past .one {
  -webkit-transform: translateZ(-150px);
  -webkit-transition-delay: 1s;
  opacity: 0.6;
}
#cube-3d.present .two, #cube-3d.past .two {
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -webkit-transition-delay: 2s;
  opacity: 0.6;
}
#cube-3d.present .three, #cube-3d.past .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -webkit-transition-delay: 3s;
  opacity: 0.6;
}
#cube-3d.present .four, #cube-3d.past .four {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -webkit-transition-delay: 4s;
  opacity: 0.6;
}
#cube-3d.present .five, #cube-3d.past .five {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -webkit-transition-delay: 5s;
  opacity: 0.6;
}
#cube-3d.present .six, #cube-3d.past .six {
  -webkit-transform: translateZ(150px);
  -webkit-transition-delay: 6s;
  opacity: 0.6;
}
#cube-3d.present .cube, #cube-3d.past .cube {
  -webkit-transform: rotateX(20deg) rotateZ(30deg) translateY(100px);
  -webkit-transition-delay: 8s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-duration: 2s;
}

/* ------------------------------------------------------------------ */
#animation {
  padding: 0;
}
#animation code {
  position: absolute;
  top: 0;
  left: -200px;
  line-height: 0.8;
  font-size: 35px;
}
#animation .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100px 100px;
}
#animation .cube {
  margin: 300px auto;
  width: 100px;
  height: 100px;
}
#animation .one {
  background-image: url("../images/giraffe.png");
  -webkit-transform: translateZ(-50px);
}
#animation .two {
  background-image: url("../images/koala.png");
  -webkit-transform: rotateX(90deg) translateZ(50px);
}
#animation .three {
  background-image: url("../images/rhino.png");
  -webkit-transform: rotateY(90deg) translateZ(50px);
}
#animation .four {
  background-image: url("../images/chicken.png");
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}
#animation .five {
  background-image: url("../images/elephant.png");
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}
#animation .six {
  background-image: url("../images/hippo.png");
  -webkit-transform: translateZ(50px);
}
#animation.present .cube, #animation.past .cube {
  -webkit-animation: crazy 3s 2 linear;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-delay: 2s;
}

@-webkit-keyframes crazy {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
  }

  25% {
    -webkit-transform: rotateX(90deg) rotateY(90deg) translateX(-200px);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg) translateY(-185px);
  }

  75% {
    -webkit-transform: rotateX(270deg) rotateY(270deg) translateX(180px) translateY(190px);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

/* ------------------------------------------------------------------ */
#events {
  font-family: "Abril Fatface";
  font-size: 320px;
  line-height: 500px;
}

/* ------------------------------------------------------------------ */
#meta.active {
  opacity: 1;
}

#meta {
  opacity: 0;
}
#meta div {
  position: absolute;
  -webkit-transition-duration: 2s;
  font-size: 70px;
}
#meta .impress {
  font-family: "Abril Fatface";
  font-size: 120px;
  top: 200px;
  left: -100px;
}
#meta .rotate {
  top: 30px;
  right: 100px;
}
#meta .translate {
  bottom: 50px;
  right: 130px;
}
#meta .scale {
  top: 230px;
  right: 20px;
}
#meta .three {
  top: 280px;
  right: 350px;
}
#meta .dee {
  top: 280px;
  right: 300px;
}
#meta.present .rotate, #meta.past .rotate {
  -webkit-transform: rotate(360deg);
  -webkit-transition-delay: 4s;
}
#meta.present .translate, #meta.past .translate {
  -webkit-transform: translateY(-100px);
  -webkit-transition-delay: 6s;
}
#meta.present .scale, #meta.past .scale {
  -webkit-transform: scale(2);
  -webkit-transition-delay: 8s;
}
#meta.present .three, #meta.past .three {
  -webkit-transform: rotateY(60deg);
  -webkit-transition-delay: 9s;
}
#meta.present .dee, #meta.past .dee {
  -webkit-transform: rotateX(-60deg);
  -webkit-transition-delay: 9.5s;
}

/* ------------------------------------------------------------------ */
#questions {
  width: auto;
  height: auto;
  padding: 0;
}

#overview {
  display: none;
}

.impress-on-overview .step {
  opacity: 0.5;
}

.impress-on-overview .step:hover {
  opacity: 1;
  cursor: pointer;
}
  